
.sections{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:40px 0px 100px 0px;
}
.sec_set{
	width: 562px;
	height:368px;
	display: flex;
	padding: 0px 3px;
	flex-direction: column;


}
#sec_1{
	
	margin-left: 20px;
}
#sec_2{
 margin-right: 20px;
}
.backforsep{
	margin-top: 15px;
}
h4{
	text-align: center;
	font-size: 2em;
	border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
	
	color: green;

}
.sec_set img{
	width: 550px;
	height:368px;
	border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
	
	}
img:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.sec_set a{
	text-decoration: none;
	color: black;
}
h4:hover{
	color:rgb(34,139,34);
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
@media screen and (max-width: 1193px){
 #lux{
 	margin-top:100px;
 }
 #sec_1{
 	margin: 0px;
 }
 #sec_2{
 	margin: 0px;
 }
 .sections{
 	margin-bottom:240px;
 	flex-direction: column;
 	
 	align-items: center;
 }
}
@media screen and (max-width: 585px){
	.sec_set{
	width: 460px;
	height:368px;
}
.sec_set img{
	width: 460px;
	height:368px;
}
.sec_set{
	padding: 0px;
}
}